{% include base_path %}

<!-- start custom head snippets -->

<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/apple-touch-icon-rw-180x180.png?v=RW20260827">
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-rw-32x32.png?v=RW20260827" sizes="32x32">
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-rw-16x16.png?v=RW20260827" sizes="16x16">
<link rel="manifest" href="{{ base_path }}/images/manifest.json?v=RW20260827">
<link rel="shortcut icon" href="{{ base_path }}/images/favicon-rw.ico?v=RW20260827">
<meta name="msapplication-TileColor" content="#3D4144">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>


<!-- Support for MatJax -->
<script src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<!-- end custom head snippets -->
