{% assign item = include.item %}
<div class="featured-publication">
  <div class="featured-publication__visual">
    <span class="featured-publication__badge">{{ item.venue }}</span>
    <a href="{{ item.poster | relative_url }}" aria-label="{{ item.poster_aria_label }}">
      <img class="featured-publication__poster" src="{{ item.poster | relative_url }}" alt="{{ item.poster_alt }}">
    </a>
  </div>
  <div class="featured-publication__details">
    <p class="featured-publication__title"><a href="{{ item.url | relative_url }}">{{ item.title }}</a></p>
    <p class="featured-publication__context">{% for author in item.authors %}{% if author.highlighted %}<strong>{{ author.name }}</strong>{% else %}{{ author.name }}{% endif %}{% if author.corresponding %}*{% endif %}{% unless forloop.last %}, {% endunless %}{% endfor %}{% if item.et_al %}, et al.{% endif %}{% if item.context %}; <em>{{ item.context }}</em>{% endif %}</p>
    <ul class="featured-publication__summary">
      {% for bullet in item.bullets %}<li>{{ bullet }}</li>{% endfor %}
    </ul>
  </div>
</div>
